@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
$font-fam: 'Overpass', sans-serif;

$orange : hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$l-grey: hsl(217, 12%, 63%);
$m-grey: hsl(216, 12%, 54%);
$d-blue: hsl(213, 19%, 18%);
$vd-blue: hsl(216, 12%, 8%);

@mixin Rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $d-blue;
    border-radius: 50%;
    padding: 2%;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.Card{
    display: flex;
    flex-direction: column;
    background-color: $vd-blue;
    padding: 2%;
    //width: 30%;
    font-family: $font-fam;
    border-radius: 30px;
}
.star{
    @include Rounded();
    margin: 0% 0% 5%;
    width: min-content;
    height: fit-content;
    padding: 4%;

}
.Content{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
h1{
    color: $white;
    font-weight: 400;
    margin-bottom: 5%;
    width: max-content;
   }
p{
    color:$l-grey;
    letter-spacing: 1px;
    font-size: 0.8em;
}
}

.Rating{
   display: flex;
   width: 100%;
   justify-content: space-between;
   column-gap: 5%;
   align-items: center;
   .Rate{
       @include Rounded();
       padding: 5%;
       width: 10px;
       height: 10px;
       color: $l-grey;
       cursor: pointer;
       transition: all 250ms;
   }
   .Rate:hover{
       background-color: $orange;
        color: $white;
   }
   margin-bottom: 5%;
   margin-top: 5% ;
}
.Submit{
   width: 100%;
    margin-top: 4%;
   #Submit{
    font-family: $font-fam;
    font-weight: 700;
    cursor: pointer;
    color: $white;
    letter-spacing: 0.1em;
    border-radius: 5em;
       width: 100%;
       background-color: $orange;
       border: none;
    padding: 0.9em 2em; 
    transition: all 250ms;
   }
   #Submit:hover{
       color: $orange;
       background-color: $white;
   }

}
.thankyouModal{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $vd-blue;
    padding: 2%;
    font-family: $font-fam;
    align-items: center;
    border-radius: 30px;
    .yourRate{
        margin: 5%;
        margin-top: 6%;
        padding: 2% 4%;
        border-radius: 30px;
        font-size: small;
        background-color: $d-blue;
        color: $orange;
    }
    h1{
    margin-top: 2%;
    margin-bottom: 2%;
    color: $white;
    }
    p{
        width: 85%;
        margin-top: 3%;
        text-align: center;
        color: $m-grey;
        font-size: 0.9em;
    }

}

