@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
$lg-blue: hsl(210, 46%, 95%);
$g-blue: hsl(212, 23%, 69%);
$dsat-dblue: hsl(214, 17%, 51%);
$vdg-blue: hsl(217, 19%, 35%);
$font: 'Manrope', sans-serif;