@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 270px;
  max-width: 700px;
  border-radius: 10px;
  background-color: white;
}

.banner-image-container #banner-image {
  height: 270px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.content-box {
  margin: 4% 7% 4% 6%;
}

.content-box #heading {
  font-size: 1.2em;
  color: #48556a;
  font-weight: 700;
}

.content-box #content {
  margin-top: 5%;
  font-size: 0.8em;
  color: #6d7f97;
  font-weight: 500;
}

.content-box #profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.content-box #profile #profile-image {
  border-radius: 50%;
  width: 40px;
}

.content-box #profile #details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  color: #48556a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-box #profile #details #name {
  font-weight: 700;
  font-size: 0.8em;
}

.content-box #profile #details #date {
  font-weight: 500;
  font-size: 0.7em;
  color: #6d7f97;
}

.content-box #profile #share-image-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
  margin-left: 40%;
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  position: relative;
}

.content-box #profile #share-image-container svg {
  z-index: 2;
}

.content-box #profile .tooltip-invisible {
  position: absolute;
  bottom: 150%;
  padding: 50%;
  background-color: #6d7f97;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  background-color: #48556a;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 10px;
  display: none;
  z-index: 1;
}

.content-box #profile .tooltip-invisible #title {
  color: #9eafc2;
  letter-spacing: 3px;
  padding-right: 10%;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, #9eafc2));
  background: linear-gradient(to right, white, white 50%, #9eafc2 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.content-box #profile .tooltip-invisible #title:hover {
  background-position: 0 100%;
}

.content-box #profile .tooltip-invisible .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20%;
}

.content-box #profile .tooltip-invisible .icons .icon {
  margin: 0% 15%;
}

.content-box #profile .tooltip-invisible .icons .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-position: 0 100%;
}

.content-box #profile .tooltip-invisible::after {
  content: " ";
  position: absolute;
  top: 100%;
  border: 7px solid;
  border-color: #48556a transparent transparent;
}

@media only screen and (max-width: 700px) {
  .main-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 290px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .banner-image-container #banner-image {
    height: 230px;
    width: 290px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .content-box {
    margin: 8% 10% 6%;
  }
  .content-box #heading {
    font-size: 1em;
    padding-bottom: 3%;
  }
  .content-box #content {
    font-size: 0.8em;
    line-height: 1.7;
    padding-bottom: 5%;
  }
  .content-box #share-image-container {
    margin-left: 15% !important;
  }
  .content-box #title {
    padding-right: 4% !important;
  }
  .content-box .tooltip-invisible {
    position: relative;
    width: 260px !important;
    bottom: -80% !important;
    right: -110% !important;
    padding: 70% 50% !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    border-radius: 0px 0px 10px 10px  !important;
  }
  .content-box .tooltip-invisible::after {
    display: none !important;
  }
  .content-box .icons {
    padding: 0% !important;
  }
}
/*# sourceMappingURL=main.css.map */