@import "imports";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $lg-blue;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-box{
    display: flex;
    flex-direction: row;
    height: 270px;
    max-width: 700px;
    border-radius: 10px;
    background-color: white;
}
.banner-image-container{
    #banner-image{
        height: 270px;
        width: 250px;
        object-fit: cover;
        border-radius: 10px 0px 0px 10px;
    }
}

.content-box{
    margin: 4% 7% 4% 6%;
    #heading{
        font-size: 1.2em;
        color: $vdg-blue;
        font-weight: 700;
    }
    #content{
        margin-top: 5%;
        font-size: 0.8em;
        color: $dsat-dblue;
        font-weight: 500;
    }
    #profile{
        display: flex;
        align-items: center;
        //justify-content: space-between;
        margin-top: 5%;
    
        #profile-image{
            border-radius: 50%;
            width: 40px;
        }
        #details{
            display: inline-flex;
            flex-direction: column;
            margin-left: 5%;
            color: $vdg-blue;
            justify-content: center;
            #name{
                font-weight: 700;
                font-size: 0.8em;
            }
            #date{
                font-weight: 500;
                font-size: 0.7em;
                color: $dsat-dblue;
            }
    
        }
        #share-image-container{
           width: 30px;
           height: 30px;
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: $lg-blue;
           margin-left: 40%;
           cursor: pointer;
           transition: 100ms;
           position: relative;
           //z-index: 2;
            svg{
                z-index: 2;
            }
           
        }
        
        .tooltip-invisible{
            position: absolute;
            bottom: 150%;
            padding: 50%;
            background-color: $dsat-dblue;
            justify-content: center;
            align-items: center;
            width: 200px;
            background-color: $vdg-blue;
            transition: all 1s;
            border-radius: 10px;
            display: none;
            z-index: 1;

            #title{
                color: $g-blue;
                letter-spacing: 3px;
                padding-right: 10%;
                background: linear-gradient(to right, white, white 50%, $g-blue 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                transition: background-position 275ms ease;
            }
            #title:hover{
                //color: white;
                background-position: 0 100%;
            }
            .icons{
                display: flex;
                align-items: center;
                padding-right: 20%;
               
                .icon{
                    margin: 0% 15%;
                    //transition: all 250ms;

                }
                .icon:hover{
                    transform: scale(1.2);
                    background-position: 0 100%;
                }
            }
        }
        .tooltip-invisible::after{
            content: " ";
            position: absolute;
            //bottom: -30px;
            //left: -47%;
            top: 100%;
            border: 7px solid;
            border-color: $vdg-blue transparent transparent;
        }
    }
     
}



@media only screen and (max-width: 700px) {
    .main-box{
        flex-direction: column;
        max-width: 290px;
        height: max-content;

    }
    .banner-image-container{
        #banner-image{
            height: 230px;
            width: 290px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
    }
    .content-box{
        margin: 8% 10% 6%;
        #heading{
            font-size: 1em;
            padding-bottom: 3%;
        }
        #content{
            font-size: 0.8em;
            line-height: 1.7;
            padding-bottom: 5%;
        }
        #share-image-container{
            margin-left: 15% !important;
        }
        #title{
            //font-size: 0.8em;
            padding-right: 4% !important;
            
        }
        .tooltip-invisible{
            position:relative ;
            width: 260px !important;
            bottom: -80% !important;
            right: -110% !important;
            padding: 70% 50% !important;
            //margin-top: 75% !important;
            justify-content: flex-start !important;
            border-radius: 0px 0px 10px 10px  !important;
        }
        .tooltip-invisible::after{
            display: none !important;
        }
        .icons{
            padding: 0% !important;
        }
    }
}